/* Site wide defaults first  */

/* This defines the default text in the main body of the website.
	Use a font size large enough for easy visibility, and good contrast between text and background.
*/
body{
		margin:40px auto;
		max-width:650px;
		line-height:1.6;
		font-size:18px;
		color:#444;
		padding:0 10px;
		font-family: "Times New Roman", Times, serif;
		box-sizing: border-box;
		background-color: #F0F0F0;   /* F0F0F0 is a pale gray, a little gentler than pure white */
}

/*

*/
h1,h2,h3 {
		line-height:1.2;
		font-family: "Times New Roman", Times, serif;
}

p {
		font-family: "Times New Roman", Times, serif;
}


/* ABSTRACTS */
/* Abstracts are a class defined in the CSS file.
	They use a smaller font, with tighter line spacing, and reduced column width.
	This makes a nice visual offset, and helps mobile viewers tell when they reach the next entry.
*/
.abstract {
		line-height:1.3;
		font-size:16px;
		margin-right: 10%;
		text-align: justify;
		font-family: "Times New Roman", Times, serif;
}


/* TOPNAV BAR */
/* mostly stolen from https://www.w3schools.com/howto/howto_js_topnav.asp */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #cccccc;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4C8FCD;
  color: white;
}

